.blink_me {
    animation: blinker 1s linear infinite;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid green;
    background-color: green;
    border-radius: 100%;
  }
  @keyframes blinker {
    50% {
      opacity: 0.6;
    }
  }
  